$black: #070707;
$gray: #828282;
$bg: #F6F6F6;


html{
    box-sizing: border-box;
}

*, 
*::after,
*::before{
    box-sizing: inherit;
}

@font-face {
    font-family: 'gilroy-bold';
    font-style: normal;
    src: url('../fonts/gilroy-bold.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'girloy-medium';
    font-style: normal;
    src: url('../fonts/gilroy-medium.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'girloy-regular';
    font-style: normal;     
    src: url('../fonts/gilroy-regular.ttf');
    font-weight: 400;
}

body{
    font-family: 'girloy-medium', sans-serif;
    font-size: 18px;
    color: $black;
    font-weight: 400;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}



.container{
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}

header{

    padding-top: 33px;

    .nav{
        padding-bottom: 33px;
        border-bottom: 1px solid $gray;
    }

    .nav-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'gilroy-bold';
        line-height: 22.28px;
        
        li{
            transition: all 0.3s;    
        }

        li:hover{
            transform: translate(5px);
            color: $black;
        }

        li + li{
            color: $gray;
        }
    }

}

.introduce{
    
    padding-top: 40px;
    padding-bottom: 105px;

    &-list{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 35px;


        &-item1{
            font-family: 'gilroy-bold';
            font-size: 47.3392px;
            line-height: 59px;
        }

        &-item2{
            line-height: 22px;
            margin-left: -50px;
        }

        &-item3{
            
            font-family: 'gilroy-bold';
            line-height: 20px;
            color: $gray;
            writing-mode: vertical-lr;
            span{
                color: $black;
            }
        }
    }

    &-img{
        max-width: 100%;
    }
}

.section{
    
    &-title{
        font-family: 'gilroy-bold';
        font-size: 34px;
        line-height: 42px;
        text-align: center;
    }

    &-text{
        margin: 0;
        line-height: 22px;
        text-align: center;
    }
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 0 107px;
    background-color: $bg;

    h3{
        margin: 0;
        margin-bottom: 18px;
    }
    .text-box{
        display: flex;
        flex-direction: column;
        gap: 35px;
        max-width: 485px;
    }
}

.skills{
    padding-top: 91px;
    padding-bottom: 110px;

    h3{
        margin: 0;
        margin-bottom: 70px;
    }

    &-text{
        margin-bottom: 85px;
    }

    &-inner{
        display: flex;
        justify-content: space-between;
    }

    &-item{
        font-family: 'gilroy-bold';
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: $gray;
        position: relative;
        transition: all 0.3s;

        &:hover{
            transform: scale(1.2);
            font-size: 18px;
            color: $black;
        }

        &-name{
            margin: 0;
            margin-top: 23px;
            margin-bottom: 60px;
        }
    }

    &-review{
        position: absolute;
        bottom: 0;
        transform: translateX(-50%);
    }
}

.portfolio{
    padding-top: 113px;
    padding-bottom: 90px;
    background-color: $bg;

    h3{
        margin: 0;
        margin-bottom: 47px;
    }
    
    &-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 99px;
    }

    &-img{
        margin-bottom: 46px;
        max-width: 100%;
    }

    &-link{
        line-height: 22px;
        text-decoration-line: underline;
    }
}

.footer{
    padding-top: 115px;
    padding-bottom: 80px;
    text-align: center;

    p{
        margin-bottom: 30px;
    }
    
    &-btn{
        background-color: #000;
        color: #fff;
        width: 200px;
        height: 42px;
        display: block;
        width: fit-content;
        margin: 0 auto;
        padding: 10px 20px;
        font-family: 'gilroy-bold';
        line-height: 22px;
        text-align: center;
        border-radius: 35%;
        transition: all 0.3s;

        &:hover{
            transform: scale(1.2);
            background-color: $gray;
        }
    }

    .logos{
        margin-top: 90px;
        margin-bottom: 45px;
        display: flex;
        justify-content: center;
        gap: 20px;

        li{
            transition: all 0.3s;

            &:hover{
                transform: scale(1.2);
            }
        }
    }

    &-text{
        color: $gray;
    }
}